body
{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    
    /* Instead of giving margin, padding & percenatge and pixel we have given flex. */
    display: flex;                                                  
    flex-direction: column;

    /* To align the items to the center. */
    align-items: center;

    background-image: url('blackimage.jpg' );
}

h1
{
    color: whitesmoke;
}

input,button
{
    padding: 8px;
}

ul
{
    list-style-type: none;
    padding: 0; */
    width: 100%;
    max-width: 600px;
}

li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.completed
{
    text-decoration: line-through;
    color: #888;
}

.task-button
{
    display: flex;
    gap: 10px;
}

.task-button
{
    padding: 5px 10px;
    
}
